[submodule "vim/bundle/perl"]
	path = vim/bundle/perl
	url = git://github.com/vim-perl/vim-perl.git
[submodule "vim/bundle/yankring"]
	path = vim/bundle/yankring
	url = https://github.com/chrismetcalf/vim-yankring.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/tsaleh/vim-supertab.git
[submodule "vim/bundle/speeddating"]
	path = vim/bundle/speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/easymotion"]
	path = vim/bundle/easymotion
	url = http://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/bundle/inkpot"]
	path = vim/bundle/inkpot
	url = git://github.com/ciaranm/inkpot.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/sumi"]
	path = vim/bundle/sumi
	url = git://github.com/sartak/sumi.git
[submodule "vim/bundle/hilinktrace"]
	path = vim/bundle/hilinktrace
	url = git://github.com/gerw/vim-HiLinkTrace.git
