[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/bundle/airline-themes"]
	path = vim/bundle/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/bundle/coc"]
	path = vim/bundle/coc
	url = https://github.com/neoclide/coc.nvim.git
[submodule "vim/bundle/typescript-vim"]
	path = vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/bundle/vim-jsx-pretty"]
	path = vim/bundle/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "vim/bundle/vim-js"]
	path = vim/bundle/vim-js
	url = https://github.com/yuezk/vim-js.git
[submodule "vim/bundle/vim-graphql"]
	path = vim/bundle/vim-graphql
	url = https://github.com/jparise/vim-graphql.git
[submodule "vim/bundle/vim-matchit"]
	path = vim/bundle/vim-matchit
	url = git@github.com:adelarsq/vim-matchit.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "vim/bundle/vim-sneak"]
	path = vim/bundle/vim-sneak
	url = git@github.com:justinmk/vim-sneak.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/bundle/vim-jdaddy"]
	path = vim/bundle/vim-jdaddy
	url = git@github.com:tpope/vim-jdaddy.git
[submodule "vim/bundle/vim-swap"]
	path = vim/bundle/vim-swap
	url = git@github.com:machakann/vim-swap.git
[submodule "vim/bundle/YankRing.vim"]
	path = vim/bundle/YankRing.vim
	url = git@github.com:vim-scripts/YankRing.vim.git
[submodule "vim/bundle/rainbow_parentheses.vim"]
	path = vim/bundle/rainbow_parentheses.vim
	url = git@github.com:kien/rainbow_parentheses.vim.git
