theme = Monokai Remastered
background = 000000
selection-foreground = 000000
selection-background = c6dcfc

window-height = 25
window-width = 80
title = " "
macos-titlebar-style = tabs
window-padding-color = extend
window-padding-y = 0,0
window-padding-x = 4,4
font-family = "MesloLGS Nerd Font Mono"
font-size = 12

term = xterm-256color

window-inherit-working-directory = false
window-inherit-font-size = false

keybind = ¥=text:\\
