theme = Monokai Remastered
background = #000000
window-height = 25
window-width = 80
macos-titlebar-style = hidden
window-padding-color = extend
window-padding-y = 8,0
window-padding-x = 4,4

font-family = "MesloLGS Nerd Font Mono"
font-size = 12
term = xterm-256color

window-inherit-working-directory = false
